@import "./fonts.css";

:root {
  --text-color: #f2ecde;
  --background-color: #28282a;
  --button-color: #585858;
  --hover-button-color: #757575;
  
  --header-height: 50px;
  --aside-width: 320px;
  --settings-width: 400px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html{
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
  color: var(--text-color);
}

button {
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

p, li{
  font-size: 1.5rem;
}



body {
  background-color: var(--background-color);
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  scrollbar-color: #383838 transparent;
  scrollbar-width: thin;
}

@mixin setting($width: 50%) {
  text-transform: uppercase;
  font-size: 1.4rem;

  display: flex;
  flex-direction: column;

  width: $width;
}

