.aside {
    max-width: var(--aside-width);
    width: 100vw;

    background-color: #383838;

    padding: 10px;

    &__header {

        padding-bottom: 15px;
        margin-bottom: 15px;

        border-bottom: 1px solid var(--text-color);

        &-info {
            display: flex;
            justify-content: space-between;
        }

        &-quality {
            font-size: 1.2rem;
            color: #F3EC06;
        }

        &-id {
            font-size: 1.2rem;
        }

        &-main {
            text-align: center;
        }

        &-title {
            font-size: 1.6rem;
            font-weight: 400;
            text-transform: uppercase;
        }

        &-ingame-description {
            font-size: 1.4rem;
            color: #9bcd35;
        }
    }

    &__description {
        font-size: 1.4rem;

        p {
            line-height: 1.4;
            margin-bottom: 8px;
        }
    }
}