.settings {
    max-width: var(--settings-width);
    width: 100vw;
    max-height: calc(100vh - var(--header-height));
    height: 100vh;

    position: fixed;
    right: 0;
    bottom: 0;

    background-color: #494949;

    transform: translateX(100%);

    transition: transform .1s ease-in-out;

    &_opened {
        transform: translateX(0);
    }
}